@page "/create-account"
@using PennyPincherModels
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Create Account</h3>

<EditForm Model="@account" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="name">Name:</label>
        <InputText id="name" class="form-control" @bind-Value="account.Name" />
    </div>
    <div>
        <label for="active">Active:</label>
        <InputCheckbox id="active" @bind-Value="account.Active" />
    </div>
    <div>
        <label for="notes">Notes:</label>
        <InputTextArea id="notes" class="form-control" @bind-Value="account.Notes" />
    </div>
    <div>
        <label for="cashFlowForecast">Cash Flow Forecast:</label>
        <InputCheckbox id="cashFlowForecast" @bind-Value="account.CashFlowForecast" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</EditForm>

@code {
    private Account account = new();

    private async Task HandleSubmit()
    {
        var response = await Http.PostAsJsonAsync("https://localhost:7178/api/Account/", account);

        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/accounts");
        }
        else
        {
            Console.WriteLine("Failed to create."); //todo:
        }
    }
}
